[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
selenium = "*"
flask = "*"
django = "*"
redis = "*"
flower = "*"
celery-singleton = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.celery]
extras = [ "redis",]
